<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar ">
            <div class='navbar-right'>
                <h3 class='titre'>HelloCiné</h3>
                <a href="{{ path('home') }}">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class='main'>
            <div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
